*{
    text-align:center;
    color: black;
}

body{
    background-color: #fdfe00;
}

.container{
    display:flex;
    height: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.item1{
    width: 100%;
}


.item2{
    width: 15%;
    border:solid;
    border-color: black;
    height:70%;
    background-color: #fe0002;
    /* background-image: url("images/logo.png"); */
    background-size: cover;
}

.item3{
    width:15%;
}

.item4{
    width: 15%;
    /* border:solid; */
    height: 70%;
    background-color: #fe0002;
}

.hide{
    border:solid;
    border-color: black;
}

.select, .next{
color:black;
}